body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
}

.page {
  margin: 0 auto;
  max-width: 700px;
}

.site-title {
  margin: 0;
}

.site-description {
  font-style: italic;
  opacity: 0.75;
}

.site-header nav ul {
  padding: 0;
}

.site-header nav ul li {
  display: inline-block;
}

.session-title {
  margin-bottom: 0;
}

.session-meta {
  margin: 20px 0;
}
