body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
}

.page {
  margin: 0 auto;
  max-width: 700px;
}

.site-title {
  margin: 0;
}

.site-description {
  font-style: italic;
  opacity: 0.75;
}

.site-header nav ul {
  padding: 0;
}

.site-header nav ul li {
  display: inline-block;
}

.session-title {
  margin-bottom: 0;
}

.session-meta {
  margin: 20px 0;
}

input,
select,
textarea,
button {
  font-size: 20px;
  padding: 5px;
  color: #555;
}

button,
select {
  cursor: pointer;
}

button {

}

input[name="session[title]"],
textarea[name="session[description]"] {
  display: block;
  width: 100%;
  margin: 20px 0;
}

textarea[name="session[description]"] {
  height: 300px;
}
